* {
    box-sizing: border-box;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    border: solid 1px lightgray;
    background-image: url(../img/wood-texture_00031.jpg);
    background-size: cover;
}

#logo {
    position: absolute;
    width: 200px;
}

.mainWindow {
    max-width: 1200px;
    /* min-width: 1000px; */
    height: 95%;
    margin: auto;
    margin-top: 10px;
    border: solid 1px black;
}

.userInterfaceWindow {
    display: flex;
    width: 100%;
    height: 100px;
    border: solid 1px black;
}

.userInterfaceBox {
    width: 25%;
    height: 100px;
    border: solid 1px black;
}

.gameMainWindow {
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 80%;
    width: 95%;
    border: solid 1px black;
    font-size: 20px;
}

.blockSpace {
    position: absolute;
    border: solid 1px black;
}

.barHorizontalGroup {
    position: absolute;
}

.barVerticalGroup {
    position: absolute;
}

.barHorizontal {
    position: absolute;
    border: solid 1px black;
}

.barHorizontal::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid;
}

.barHorizontal::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid;
}

.barVertical {
    position: absolute;
    border: solid 1px black;
}

.barVertical::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
}

.barVertical::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
}

.blockHorizontalGroup {
    display: flex;
    justify-content: center;
}

.block {
    position: absolute;
}

.colorNotSelected {
    background-color: lightyellow;
    border-color: black;
}

#user01,
.colorSelectedPlayer1 {
    background-color: lightcoral;
}

#user02,
.colorSelectedPlayer2 {
    background-color: lightblue;
}

.playerName {
    font-size: 30px;
}

.playerScore {
    font-size: 30px;
}

#popupWindow {
    position: absolute;
    font-size: 60px;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: lightslategrey;
    opacity: 0.9;
    border: solid 1px black;
    display: none;
}

.currentPlayerName {
    font-size: 40px;
}

#common,
#other,
#mainWindow {
    background-color: #fff;
}

